<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Index</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    </head>
    <body class="text-bg-secondary">
        <header class="navbar bg-primary">
            <nav class="container navbar-expand-lg navbar-dark">
                <a class="navbar-brand" href="/">
                    <h1>SUAP</h1>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="dropdown">
                            <button class="btn dropdown-toggle" type="button" id="dropdown-pessoa" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Pessoa
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdown-pessoa">
                                <a class="dropdown-item" href="/pessoa/">Pessoa</a>
                                <a class="dropdown-item" href="/ocupacao/">Ocupação</a>
                                <a class="dropdown-item" href="/matricula/">Matricula</a>
                                <a class="dropdown-item" href="/frequencia/">Frequência</a>
                            </div>
                        </li>
                        <li class="dropdown">
                            <button class="btn dropdown-toggle" type="button" id="dropdown-instituicao" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Instituição
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdown-instituicao">
                                <a class="dropdown-item" href="/instituicao/">Instituição</a>
                                <a class="dropdown-item" href="/cidade/">Cidade</a>
                            </div>
                        </li>
                        <li class="dropdown">
                            <button class="btn dropdown-toggle" type="button" id="dropdown-periodos" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Periodos
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdown-periodos">
                                <a class="dropdown-item" href="/semestre/">Semestre</a>
                                <a class="dropdown-item" href="/periodo/">Periodo</a>
                            </div>
                        </li>
                        <li class="dropdown">
                            <button class="btn dropdown-toggle" type="button" id="dropdown-curso" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Curso
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdown-curso">
                                <a class="dropdown-item" href="/curso/">Curso</a>
                                <a class="dropdown-item" href="/disciplinaporcurso/">Disciplinas de Curso</a>
                                <a class="dropdown-item" href="/disciplina/">Disciplina</a>
                                <a class="dropdown-item" href="/area/">Area</a>
                            </div>
                        </li>
                        <li class="dropdown">
                            <button class="btn dropdown-toggle" type="button" id="dropdown-turma" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Turma
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdown-turma">
                                <a class="dropdown-item" href="/turma/">Turma</a>
                                <a class="dropdown-item" href="/ocorrencias/">Ocorrência</a>
                            </div>
                        </li>
                        <li class="dropdown">
                            <button class="btn dropdown-toggle" type="button" id="dropdown-avaliacao" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Avaliação
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdown-avaliacao">
                                <a class="dropdown-item" href="/avaliacao/">Avaliação</a>
                                <a class="dropdown-item" href="/tipoavaliacao/">Tipo de avaliação</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="/admin/">Administração</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <main>
            <!--
            <div class="container mt-5">
                <div class="container mt-3">
                    <h3 class="mb-3">Cadastrar pessoa</h3>
                    <form action="/pessoa/" method="post">
                        {% csrf_token %}
                    <div class="form-group">
                        <p>
                            <label for="nome">Nome:</label>
                            <input type="text" class="form-control" id="nome" name="nome">
                        </p>
                    </div>
                    <div class="form-group">
                        <p>
                            <label for="pai">Pai:</label>
                            <input type="text" class="form-control" id="pai" name="pai">
                        </p>
                    </div>
                    <div class="form-group">
                        <p>
                            <label for="mae">Mãe:</label>
                            <input type="text" class="form-control" id="mae" name="mae">
                        </p>
                    </div>
                    <div class="form-group">
                        <p>
                            <label for="cpf">CPF:</label>
                            <input type="text" class="form-control" id="cpf" name="cpf">
                        </p>
                    </div>
                    <div class="form-group">
                        <p>
                            <label for="email">Email:</label>
                            <input type="text" class="form-control" id="email" name="email">
                        </p>
                    </div>
                    <div class="form-group">
                        <p>
                            <label for="data_nasc">Data Nascimento:</label>
                            <input type="date" class="form-control" id="data_nasc" name="data_nasc">
                        </p>
                    </div>
                    <div class="form-group">
                        <label for="cidade">Cidade:</label>
                        <select class="form-control" id="cidade" name="cidade">
                            {% for cidade in cidades %}
                                <option value="{{ cidade.id }}">{{ cidade.nome }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="ocupacao">Ocupação:</label>
                        <select class="form-control" id="ocupacao" name="ocupacao">
                            {% for ocupacao in ocupacoes %}
                                <option value="{{ ocupacao.id }}">{{ ocupacao.nome }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <button type="submit" class="btn btn-warning mt-3 btn-lg btn-block">Salvar</button>
                </form>
                <br>
                </div>
            </div>
            -->
            <div class="container mt-5">
            <h3 class="mb-4">Tabela de Pessoas</h3>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Nome</th>
                            <th scope="col">Pai</th>
                            <th scope="col">Mãe</th>
                            <th scope="col">cpf</th>
                            <th scope="col">Nascimento</th>
                            <th scope="col">Cidade</th>
                            <th scope="col">Ocupação</th>
                        </tr>
                    </thead>
                    {% for pessoa in pessoas %}
                        <tbody>
                            <td>{{pessoa.nome}}</td>
                            <td>{{pessoa.pai}}</td>
                            <td>{{pessoa.mae}}</td>
                            <td>{{pessoa.cpf}}</td>
                            <td>{{pessoa.email}}</td>
                            <td>{{pessoa.data_nasc}}</td>
                            <td>{{pessoa.cidade}}</td>
                            <td>{{pessoa.ocupacao}}</td>
                        </tbody>
                   {% endfor %}
            </table>
        </main>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </body>
</html>